# Development environment configuration
VITE_APP_NAME=          # The name of your application
VITE_API_URL=           # The URL of your backend API
VITE_HOST=              # The host where the frontend will be served

# Stream server configuration
VITE_WEBRTC_URL_BASE=    # Base URL for WebRTC streaming services
VITE_LLHLS_URL_BASE=    # Base URL for Low-Latency HLS streaming services

# ICE server configuration
VITE_TURN_SERVER_URL_UDP= # TURN server URL for UDP connections
VITE_TURN_SERVER_URL_TCP= # TURN server URL for TCP connections 
VITE_TURN_SERVER_USERNAME=    # Username for authenticating with the TURN server
VITE_TURN_SERVER_CREDENTIAL=""  # Password for authenticating with the TURN server

# Debugging
VITE_DEBUG_ENABLED=     # Enable or disable debug mode (true/false)
VITE_LOG_LEVEL=          # Level of logging (e.g., debug, info, warn, error)